POSTGRES_PASSWORD=some-password
DB_OWNER_PASSWORD=some-password
PLATFORM_DB_PASSWORD=some-password
SANDBOX_DB_PASSWORD=some-password
JWT_SIGNING_KEY=some-key-32-characters
JWT_ISSUER=GuardLab
JWT_AUDIENCE=GuardLab.Api
ADMIN_EMAIL=admin@example.local
ADMIN_PASSWORD=some-password
